body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.NavBar{
  display: flex;
  justify-content: space-between;
  background:linear-gradient(135deg,#f0836d,#dd2476);
  padding: 10px;
  
}
.NavBar :nth-child(1){
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
}
.NavBar :nth-child(2) input{
  border-radius: 20px;
  border: none;
  height: 25px;
}
.AddTaskHolder{
  height: 400px;
  width: 400px;
  background:linear-gradient(135deg,#f0836d,#dd2476);
  justify-self: center;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid red;
  backdrop-filter: blur(10px);
  color: aliceblue;
  font-weight: bolder;
}
.AddTaskHolder input{
  margin:3%;
  border:none;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  left: -10px;
 
}
input{
  padding: 5px;
}
textarea{
  padding: 5px;
}
.AddTaskHolder textarea{
  margin-top:3%;
  border:none;
  
  border-radius: 10px;
}
.AddTaskHolder div{
  display: flex;
  flex-direction: column;
}
.radioHolders{
  display: flex;
  margin: 0;
  height: fit-content;
  width: 600px;
  justify-content:space-between;

}
.Labels{
  margin-top: 3%;
  font-size: larger;
}
.AddTaskHolder button{
  padding: 2%;
  border-radius: 10px;
  font-size: larger;
  font-weight: bolder;
  color: #dd2476;
  border: none;
}
.tasksHolder{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 10px;
  justify-content: center;

}
.taskCard{
  background: linear-gradient(135deg,#f0836d,#dd2476);;;
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
  position: relative;
  height: 150px;
  width: 200px;
  position: relative;
}
.badge{
  position: absolute;
  top: 0;
  right: 0;
  background-color: pink;
  font: bolder;
  padding: 4px;
  border-radius: 10px;
  font-size: larger;
 
  
}
.buttonHolder{
  position: absolute;
  display: flex;
  width: inherit;
  justify-content: space-between;
  bottom: 0;
  
}
.buttonHolder button{
 border-radius: 10px;
 padding: 10px;
 color: #dd2476;
 border: 1px solid #dd2476;
 font-weight: bolder;
  
} 
#descriptionHolder{
  height: 30px;
  overflow: scroll;
  scrollbar-width: none;
  padding: 10px;
  margin-bottom: 2%;
}
